/* 站点地图 */
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #b0ce95;
    color: #596e4d;
}
.blog_list{
    font-weight: 600;
    color: #6a855b;
    background: #e0f6cd;
    padding: 5px 10px;
    font-size: 16px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 3px 4px 3px #3e563b;
}
.blog_list span{
    display: block;
    font-size: 16px;
}
.blog_list ul{
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    margin: 10px auto;
}
.blog_list li{
    list-style: none;
    margin-top: 5px;
}
.blog_list a{
    text-decoration: none;
    color: #596e4d;
}